<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eva Loaeza</title>

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <header>
        <h2><b>Eva Loaeza</b></h2>
        
        <img src="https://raw.githubusercontent.com/evaloaeza/evaloaeza.github.io/main/profile_pic.png" width="150">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
